@import nord.sass
body
    font-family: 'Arvo', serif
    background-color: $dark-4
    color: $light-1

.nav
    background-color: $dark-3
    position: fixed
    top: 0
    left: 0
    width: 100%
    margin: 0
    z-index: 2
    display: flex
    flex-direction: row
    justify-content: space-between
    .title
        margin-left: 1em
    .controls
        //margin-right: 1em
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
button
    font-family: 'Arvo', serif
    margin-right: 1em
    padding: 1.5em
    background-color: transparent
    color: $light-1
    border-radius: 1em
    border: 1px solid $light-1
button:hover
    color: $primary-1
    border: 1px solid $primary-1

#summary
    background-color: $dark-2
    max-width: 700px
    min-width: 200px
    padding: 1em
    margin-top: 5em

.centerContainer
    display: flex
    flex-direction: column
    align-items: center

#cards
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    //margin-top: 5em
    .card
        width: 300px
        height: 400px
        perspective: 1000px
        margin: 2em
        .content
            position: relative
            width: 100%
            height: 100%
            text-align: center
            transition: transform 0.8s
            transform-style: preserve-3d
            .front
                position: absolute
                width: 100%
                height: 100%
                -webkit-backface-visibility: hidden // Safari
                backface-visibility: hidden
                img
                    max-height: 100%
                    max-width: 100%
                    border-radius: 1em
                    border: 1px solid black
            .back
                transform: rotateY(180deg)
                position: absolute
                width: 100%
                height: 100%
                -webkit-backface-visibility: hidden // Safari
                backface-visibility: hidden
                border-radius: 1em
                background-color: $primary-3
                color: $dark-1
                padding: 1em

.card.flip
    .content
        transform: rotateY(180deg)

.hidden
    display: none!important

.upside-down
    transform: rotate(180deg)

.modal
    position: fixed /* Stay in place */
    z-index: 3 /* Sit on top */
    left: 0
    top: 0
    width: 100% /* Full width */
    height: 100% /* Full height */
    overflow: auto /* Enable scroll if needed */
    background-color: $dark-4
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    .modal-content
        z-index: 4 
        background-color: $dark-2
        max-width: 800px
        min-width: 200px
        padding: 1em
        display: flex
        flex-direction: column
        justify-items: space-around
        align-items: center
.buttonrow
    width: 100%
    display: flex
    justify-content: space-around

textarea
    appearance: none
    outline: none
    resize: none
    overflow: auto
    width: 100%
    height: 6em
    border: none
    background-color: $dark-4
    border: 1px solid $light-4
    //padding-left: .5em
    color: white
    border-radius: .3em

fieldset
    border-radius: .3em

input[type="text"],
input[type="email"],
input[type="tel"]
    appearance: none
    outline: none
    //padding-left: .5em
    height: 3em
    background-color: $dark-4
    color: white
    border: none
    border-radius: .3em
    width: 100%
    margin-bottom: 1em
    border: 1px solid $light-4

::placeholder
    color: $light-1

select
    height: 3.5em
    padding: 1em
    color: $light-1
    background-color: $dark-2
    border: 1px solid $light-1
    border-radius: .3em
    width: 100%

input[type="submit"]
    height: 3em
    padding: 1em
    color: $light-1
    background-color: $dark-2
    border: 1px solid $light-1
    border-radius: .3em
    width: 100%

input[type="submit"]:hover
    background-color: $dark-1

@media only screen and (max-width: 600px) 
    .nav
        flex-direction: column
        align-items: center
        position: static
        .title
            text-align: center
            margin-left: 0
        .controls
            width: 95%
            flex-direction: column
            justify-content: flex-start
            button
                width: 95%
                margin-right: 0
                margin-bottom: 1em