doctype
html(lang='en')
    head
        meta(charset='utf-8')
        //link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="css/main.css")
        title DGM1600 Personal Project Page
    body
        header
            #navbar
                button#welcome-button Welcome
                button#projects-button Projects
        main
        footer
        