doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/main.css")
        title DGM1600 Personal Project Page
    body
        nav.nav#navbar
            h1 Jennifer Roylance
            ul
                li #[a(href="#welcome-section") Welcome]
                li #[a(href="#projects") Projects]
        header
        main
            section#welcome-section
                #welcome-content
                    #welcome-left
                        h1 My name is Jennifer Roylance #^-^#
                        .container
                            h3 I'm a budding web developer and an avid reader
                            h3 よろしくお願いします!
                            h4 Check out my projects #[a#profile-link(href="https://github.com/jennraeross" target="_blank") at GitHub]!
                    #welcome-right
                        img(src="http://www.jennroylance.com/img/IMG_0214.JPG")
            section#projects
                h2 My Projects
                <!-- a(href="https://www.jennroylance.com" target="_blank")
                    .project-tile
                        img(src="http://www.jennroylance.com/img/homepage.png")
                        dl
                            dt
                                a(href="https://www.jennroylance.com" target="_blank") My Homepage
                            dd
                                p This is still (very much) a work in progress. Please do not look at it. -->
                
                a(href="tarot.html" target="_blank")
                    .project-tile
                        img(src="img/tarot.png")
                        dl
                            dt
                                a(href="tarot.html" target="_blank") Tarot Cards
                            dd
                                p A traditional Tarot card deck (Using the Rider-Waite-Smith cards), with information on the cards, as well as the ability to lay spreads and create your own custom cards.

                a(href="swapi.html" target="_blank")
                    .project-tile
                        img(src="img/swapi.png")
                        dl
                            dt
                                a(href="swapi.html" target="_blank") Star Wars API Demo
                            dd
                                p A visual index of all the content available via the Star Wars API

                a(href="planets.html" target="_blank")
                    .project-tile
                        img(src="img/planets.png")
                        dl
                            dt
                                a(href="planets.html" target="_blank") Star Wars Planets
                            dd
                                p A selection of the planets from Star Wars, to scale.

                a(href="http://dgm2120.jennroylance.com/dgm2120-final/index.html" target="_blank")
                    .project-tile
                        img(src="img/docmark.png")
                        dl
                            dt
                                a(href="https://github.com/jennraeross/docmark" target="_blank") Docmark
                            dd
                                p A utility written in NodeJS to convert markdown to print formatted html and pull it up in the browser.

                <!-- 

                a(href="http://dgm2120.jennroylance.com/08Media/" target="_blank")
                    .project-tile
                        img(src="img/dgm2120-main.png")
                        dl
                            dt
                                a(href="http://dgm2120.jennroylance.com/08Media/" target="_blank") Longform Writer's Conference
                            dd
                                p An example website for a Conference about Longform Writing, produced in my DGM2120 class.

                a(href="https://github.com/jennraeross/librarian" target="_blank")
                    .project-tile
                        img(src="img/librarian.png")
                        dl
                            dt
                                a(href="https://github.com/jennraeross/librarian" target="_blank") Librarian
                            dd
                                p An (in progress) Command Line application, built using Node.js to manage a library of ebook files. -->

        footer
            a(href="https://github.com/jennraeross/" target="_blank")
                img(src="img/github.png" alt="github logo")
            span &copy;2020 - Jennifer Roylance