doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/planets.css")
		title Star Wars Planets
	body
		main#main
			h1 Star Wars Planets:
			p.
				The planets from Star Wars (at least the ones that I could get images of,
				and which had a known diameter in the Star Wars API), to scale.
	script(type="module" src="swapi/planets.js")
	script(type="module" src="js/planets.js")