doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/planets.css")
		title Star Wars Planets
	body
		main#main
			.text
				h1 Star Wars Planets:
				p.
					The planets from Star Wars (at least the ones that I could get images of,
					and which had a known diameter in the Star Wars API), to scale.
				p Hover over a planet to see it's name.
			br
	script(type="module" src="swapi/planets.js")
	script(type="module" src="js/planets.js")