doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="css/skeleton/normalize.css")
        link(href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="css/tarot.css" rel="stylesheet")
        title Tarot Cards
    body
        main
            .nav
                .title
                    h1 Tarot Cards
                .controls
                    button#allButton   All Cards
                    button#threeButton Spread 3
                    button#sevenButton Spread 7
            .centerContainer
                #summary
                    p.
                        Tarot is a form of fortunetelling, using a standardized
                        set of cards, listed here. Click on a card to learn more
                        about it's meaning.
                    p.
                        Tarot Cards are typically drawn at random, in a spread of
                        a given number of cards. If a card is placed upside down,
                        this is considered in the fortune told, with an upside down
                        card representing a negative aspect of that which the card
                        represents.
            #cards
        footer
    script(type="module" src="js/tarot.js")